# Implementing Logistic Regression

In [2]:
#importing required libraries

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [3]:
data=pd.read_csv("titanic.csv")

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [6]:
# Since the Logistic Regression function takes only continuous data and not categorical data

data=pd.get_dummies(data)
data

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)",...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,38.0,1,0,71.2833,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,6,0,3,NaN,0,0,8.4583,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,7,0,1,54.0,0,0,51.8625,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,8,0,3,2.0,3,1,21.0750,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,9,1,3,27.0,0,2,11.1333,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,10,1,2,14.0,1,0,30.0708,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,11,1,3,4.0,1,1,16.7000,0,0,0,...,0,0,0,0,0,1,0,0,0,1
11,12,1,1,58.0,0,0,26.5500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12,13,0,3,20.0,0,0,8.0500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,14,0,3,39.0,1,5,31.2750,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,15,0,3,14.0,0,0,7.8542,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,16,1,2,55.0,0,0,16.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16,17,0,3,2.0,4,1,29.1250,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17,18,1,2,NaN,0,0,13.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,19,0,3,31.0,1,0,18.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,20,1,3,NaN,0,0,7.2250,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,21,0,2,35.0,0,0,26.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21,22,1,2,34.0,0,0,13.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,23,1,3,15.0,0,0,8.0292,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,24,1,1,28.0,0,0,35.5000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,25,0,3,8.0,3,1,21.0750,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25,26,1,3,38.0,1,5,31.3875,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26,27,0,3,NaN,0,0,7.2250,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,28,0,1,19.0,3,2,263.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,29,1,3,NaN,0,0,7.8792,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29,30,0,3,NaN,0,0,7.8958,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,21.0,1,0,11.5000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
862,863,1,1,48.0,0,0,25.9292,0,0,0,...,0,0,0,0,0,0,0,0,0,1
863,864,0,3,NaN,8,2,69.5500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
864,865,0,2,24.0,0,0,13.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
865,866,1,2,42.0,0,0,13.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
866,867,1,2,27.0,1,0,13.8583,0,0,0,...,0,0,0,0,0,0,0,1,0,0
867,868,0,1,31.0,0,0,50.4958,0,0,0,...,0,0,0,0,0,0,0,0,0,1
868,869,0,3,NaN,0,0,9.5000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
869,870,1,3,4.0,1,1,11.1333,0,0,0,...,0,0,0,0,0,0,0,0,0,1
870,871,0,3,26.0,0,0,7.8958,0,0,0,...,0,0,0,0,0,0,0,0,0,1
871,872,1,1,47.0,1,1,52.5542,0,0,0,...,0,0,0,0,0,0,0,0,0,1
872,873,0,1,33.0,0,0,5.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
873,874,0,3,47.0,0,0,9.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
874,875,1,2,28.0,1,0,24.0000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
875,876,1,3,15.0,0,0,7.2250,0,0,0,...,0,0,0,0,0,0,0,1,0,0
876,877,0,3,20.0,0,0,9.8458,0,0,0,...,0,0,0,0,0,0,0,0,0,1
877,878,0,3,19.0,0,0,7.8958,0,0,0,...,0,0,0,0,0,0,0,0,0,1
878,879,0,3,NaN,0,0,7.8958,0,0,0,...,0,0,0,0,0,0,0,0,0,1
879,880,1,1,56.0,0,1,83.1583,0,0,0,...,0,0,0,0,0,0,0,1,0,0
880,881,1,2,25.0,0,1,26.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
881,882,0,3,33.0,0,0,7.8958,0,0,0,...,0,0,0,0,0,0,0,0,0,1
882,883,0,3,22.0,0,0,10.5167,0,0,0,...,0,0,0,0,0,0,0,0,0,1
883,884,0,2,28.0,0,0,10.5000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
884,885,0,3,25.0,0,0,7.0500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
885,886,0,3,39.0,0,5,29.1250,0,0,0,...,0,0,0,0,0,0,0,0,1,0
886,887,0,2,27.0,0,0,13.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
887,888,1,1,19.0,0,0,30.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
888,889,0,3,NaN,1,2,23.4500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
889,890,1,1,26.0,0,0,30.0000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
890,891,0,3,32.0,0,0,7.7500,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [7]:
#Filling missing values

data.fillna(0,inplace=True)

In [8]:
data.shape

(891, 1731)

In [9]:
# Train data

train=data.loc[0:699]

In [10]:
# Test data and it's dependent subset

test=data.loc[700:890]
x_test = test.drop('Survived', axis=1)

In [11]:
# Dependent and Independent train data

x_train=train.drop('Survived', axis=1)
y_train = train['Survived']

In [12]:
# The true value of the prediction

true_p = test['Survived']